@import "../../styles/global";
.headerNavMenuWrapper {
  position: absolute;
  margin: {
    left: $sideMargins;
    right: $sideMargins;
  }
  width: -webkit-fill-available;
  z-index: #{map-get($zIndexLayers, "mainMenu")};
}

.headerNavMenu {
  color: #fff;
}

.searchIcon {
  --display: none;
  @media (min-width: $largeBreakpoint) {
    --display: block;
  }
  cursor: pointer;
  display: var(--display);
}
