@import "../../styles/global";

:root {
  @mixin responsiveIcons {
    --display: block;
    @media (min-width: $largeBreakpoint) {
      --display: none;
    }
    display: var(--display);
  }
  .navMenu {
    display: flex;
    padding-top: 2.85rem;
    transition: all 300ms ease-in-out;
    width: 100%;
    /*  .fadeIn {
    opacity: 0;
    transform: translateY(-100%);
  } */
    .brandBox {
      flex-basis: 25%;
      font-size: 1.85rem;
      a {
        color: $lightColor;
        text-decoration: none;
      }
    }
    .navMenuList {
      /* --position: absolute;
        --textAlignment: center;
         */
      --opacity: 0;
      --display: block;
      @media (min-width: $largeBreakpoint) {
        /* --position: static;
        --textAlignment: right;
         */
        --opacity: 1;
        --display: flex;
      }
      /* position: var(--position);
      text-align: var(--textAlignment);
       */
      opacity: var(--opacity);
      display: var(--display);
      flex-basis: 75%;
      justify-content: flex-end;
      list-style: none;
      width: 100%;
      &.responsive {
        --position: absolute;
        --textAlignment: center;
        --opacity: 0;
        @media (min-width: $largeBreakpoint) {
          --position: static;
          --textAlignment: right;
          --opacity: 1;
        }
        position: var(--position);
        text-align: var(--textAlignment);
        opacity: var(--opacity);
      }
      a {
        color: $lightColor;
        text-decoration: none;
      }
      li:not(li:last-child) {
        margin-right: 2.85rem;
      }
    }
    .hamburguerIcon {
      @include responsiveIcons();
      width: 3.55rem;
    }
    .searchIconMobile {
      @include responsiveIcons();
    }
  }
}
