@import "../../styles/global";
.searchInputForm {
  text-align: center;
  .searchInput {
    --width: 70%;
    @media (min-width: $smallBreakpoint) {
      --width: 100%;
    }
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    padding: 2rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    width: var(--width);
    &:focus {
      outline: 0;
    }
  }
}
