@import "../../../styles/mixins";
@import "../../../styles/global";

.votesCardContainer {
  margin: {
    left: $sideMargins;
    right: $sideMargins;
  }
  padding-bottom: 15rem;
  .votesCardContainerHeading {
    margin: {
      bottom: 2.5rem;
      top: 2.2rem;
    }
    font: {
      size: 2.5rem;
      weight: 400;
    }
  }
  .votesCardContainerGrid {
    --gridGap: 4%;
    --autoGridMinSize: 50%;
    @media (min-width: $mediumBreakpoint) {
      --autoGridMinSize: 46%;
      --gridGap: 1px;
    }

    @media (min-width: $largeBreakpoint) {
      --gridGap: 4%;
    }

    @include responsiveGrid(--autoGridMinSize, --gridGap);
  }

  .firstColumnFirstParragraph {
    font-size: 1.27rem;
  }
  .firstColumnSecondParragraph {
    font: {
      size: 2rem;
      weight: 700;
    }
  }
}
