@import "../../styles/global";
.mainCardWrapper {
  --widthMainCard: 100%;
  @media (min-width: $largeBreakpoint) {
    --widthMainCard: 70%;
  }
  @media (min-width: $extraLargeBreakpoint) {
    --widthMainCard: 40%;
  }
  width: var(--widthMainCard);
}
.mainCard {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1.35rem);
  color: $lightColor;
  padding: 1.75rem;
  header {
    --fontSizeHeader: 2.25rem;
    @media (min-width: $mediumBreakpoint) {
      --fontSizeHeader: 3.55rem;
    }
    h1 {
      font-size: var(--fontSizeHeader);
    }
  }
  .mainCardContent {
    line-height: 1.55rem;
    margin-top: 1.2rem;
  }
  .mainCardLink {
    display: block;
    text-decoration: underline;
    margin: {
      bottom: 1.55rem;
      top: 1.2rem;
    }
  }
  .ctaLabel {
    font: {
      size: 1.2rem;
      weight: $fontBold;
    }
  }
}
.likesWrapper {
  display: flex;
}
.mainCardLikeIcon {
  flex-basis: 50%;
  padding: 1rem;
  text-align: center;
}
.likeBox {
  background: $likeColor;
}
.dislikeBox {
  background: $dislikeColor;
  transform: scaleY(-1);
}
