@import "../../styles/global";
.heroContainer {
  padding: {
    bottom: 5.5rem;
    left: $sideMargins;
    right: $sideMargins;
  }
  background: {
    image: url(../../images/hero-image.jpg);
    size: cover;
  }
}
